osx_image: xcode8.3
language: objective-c
xcode_workspace: ShareBudget.xcworkspace
xcode_scheme: ShareBudget

script:
    - xcodebuild test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 5s,OS=latest' -workspace ShareBudget.xcworkspace -scheme ShareBudgetTests CODE_SIGNING_REQUIRED=NO GCC_GENERATE_TEST_COVERAGE_FILES=YES -enableCodeCoverage YES

after_success:
  - bash <(curl -s https://codecov.io/bash)  -J 'ShareBudget'
