<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareBudget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>573F59401E26E1C000AEA72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>573F595C1E26E1C000AEA72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>573F59671E26E1C000AEA72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
